<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
	</head>
	<body ng-controller="MainCtrl as mainCtrl">
		<h1>Tab页切换，保存所切换的值</h1>
		
		<input type="button" value="FirstPage " ng-click="mainCtrl.changenFn('first')"/>
		<input type="button" value="SecondPage " ng-click="mainCtrl.changenFn('second')"/>
	    <div ng-switch on="mainCtrl.tab">
	    	<div ng-switch-when='first' ng-controller="SubCtrl as subCtrl">
	    		<h2>第一个页面</h2>
	    		<ul>
	    			<li ng-repeat="item in subCtrl.list">
	    				{{ item.id }}=={{ item.label }}
	    			</li>
	    		</ul>
	    		<input type="button" value="添加项目" ng-click="subCtrl.add()" />
	    	</div>
	    
	    

	    	<div ng-switch-when='second' ng-controller="SubCtrl as subCtrl">
	    		<h2>第二个页面</h2>
	    		<ul>
	    			<li ng-repeat="item in subCtrl.list">
	    				{{ item.id }}=={{ item.label }}
	    			</li>
	    		</ul>
	    		<input type="button" value="添加项目" ng-click="subCtrl.add()" />
	    	</div>
	    
	    </div>
	    
	    <script type="text/javascript">
			angular.module("myApp",[])
				.controller('MainCtrl',[function(){
					var self=this;
					//默认切换显示第一页
					self.tab="first";
					
					//切换页面的方法
					self.changenFn=function(pageName){
						self.tab=pageName;
					}
					
				}])
				//通过依赖注入的概念 使用ItemService服务
				.controller('SubCtrl',['ItemService',function(ItemService){
					var self=this;
					//从服务接口中获取数据列表
					self.list=ItemService.list();
					//添加方法（其实是一个委托方法）
					self.add= function(){
						//调用服务中添加数据的方法
						ItemService.addItem({
							id : self.list.length + 1,
							label : 'Item' +(self.list.length + 1)
						})
					}
				}])
				//创建一个服务 factory方式创建的服务，作用就是返回一个有属性有方法的对象。
//				相当于：var f = myFactory(); 在自定义服务里注入服务示例，但不能注入$scope作用域对象
				.factory('ItemService',[function(){
					var list=[
					    { id : 1, label : 'Item 1'},
					    { id : 2, label : 'Item 2'}
					]
					return{
						//获取数据的接口
						list : function(){
							return list;
						},
						//添加数据的接口
						addItem : function(item){
							list.push(item);
						}
					}
				}])
		</script>
	</body>
</html>
