<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
	</head>
	<!--MainCtrl as ctrl 这个是给MainCtrl这个控制器起了一个别名ctrl
	这个ctrl就是这个控制器的实例，使用的时候就可以ctrl.变量 即可，原理其实和$scope一样-->
	<body ng-controller='MainCtrl as ctrl'>
		<h1>{{ctrl.person.name}}</h1>
		<input type="text" ng-model="ctrl.person.name" ng-keyup="ctrl.fn()"/>
		<input type="button" value="请点击" ng-click="ctrl.fn1()" />
		<script type="text/javascript">
			angular.module("myApp",[])
		      .controller('MainCtrl',[function(){
		  	      //在这里this就是当前控制器对象（实例）
		  	      var self=this;
		  	      self.person={
		  	      	name:"折颜"
		  	      	
		  	      }
		  	      self.fn=function(){
		  	      	console.log(self.person.name)
		  	      }
		  	      self.fn1=function(){
		  	      	alert(self.person.name)
		  	      }
		       }])
		      
		      
		      
		      
		</script>
		
	</body>
</html>
